.navlist{
    display: flex;
}
.navlist a{
    margin-left: 60px;
    font-size: 19px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all, .5 white;
}
.navlist a:hover{
    border-bottom: 2px solid white;
}
header{
   position: fixed;
   right: 0;
   top: 0;
   z-index: 100;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between; 
   padding: 15px 5%;
   background-color: transparent;
}
#menu-icon{
    display: none;
    font-size: 35px;
    z-index: 101;
    cursor: pointer;
}
.logo{
  font-size: 30px;
  font-weight: 800;
  border: 10px white;
  transition: 3s;
}
.logo:hover{
  font-size: 31px;
}

/* media 900px */
@media (max-width:900px){
#menu-icon{
        display: block;
    } 
.navlist{
    position: absolute;
    top: 100%;
    right: -100%;
    width: 250px;
    height:300px;
    background-color: rgba(20, 25, 28);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    transition: all .5s ease-out;
    border-radius: 20%;
    border: 1px solid white;
}
.navlist a {
    display: block;
    margin: 15px 0;
}
.navlist a:hover{
   font-size: 21px;

}
.open{
    right: 1%;
}
}