.img-section{
    width: 100%;
    border-radius: 15px;  
    opacity: 0%;
}
.line-life{
    padding-right: 10px ;
    border-right: 2px solid gray;
}
@media (max-width:720px) {
    .img-section{
    opacity: 100%;
}
.line-life{
    padding-right: 0px ;
    border-right: 0px;
}
}