.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap:2rem;
     padding: 17px 4%;
}
.heroContent{
    text-align: center;
    padding: 20px 40px;
    margin:  2% 0;
}
.heroContent h4{
    font-size: 22px;
    font-weight: 500;
}
.heroContent h1{
    font-size: 50px;
    font-family: 'Roboto Mono',monospace;
    line-height: 1;
    margin-top: 20px;
}
.heroContent p{
    font-size: 100%;
    margin-bottom: 40px;
    line-height: 2;
    margin-top: 25px;
    margin-bottom: 60px;
}
.hero-img img{
    border-radius: 60%;
    width: 400px;
    margin: 10% 0 0 10%;
    height: auto;
    transition: all 5s linear;
}
.hero-img img:hover{
    width: 430px;
    opacity: 0.6;
}
.hero-img{
    text-align: center;
}
.heroContent a{
    display: inline-block;
    padding: 15px 30px;
    background-color: #84848445;
    border: 1px solid transparent;
    border-radius: 30px;
    line-height: 1.4;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all .5s ease;
}
.heroContent a:hover{
    background-color: transparent;
    border: 1px solid white;
    transform: translateX(6px);
}
.heroContent a.contact{
    border: 1px solid white;
    background-color: transparent;
    margin: 33px;
}
.section-tecno{
     margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 7%;
}

@media (max-width: 1060px) {   
.hero{
    padding: 35px 1%;
}   
.hero-img img{
    width: 300px;
}
.hero-img img:hover{
    width: 320px;
}
.heroContent h4{
    font-size: 17px;
}
.heroContent h1{
    font-size: 45px;
}
.heroContent p{
    font-size: 95%;
}
.heroContent a.contact{
   margin: 10px;
}
}

@media (max-width:850px){
    .hero{
        grid-template-columns: 1fr;
        gap:1rem;
        padding: 90px 1%;
    }
    .hero-img img{
        margin: 0;
    }
    .heroContent a{
        margin-bottom: 30px;
    }
    
}