.card {
    max-width: 540px !important;
}
.section-portafolio{
    margin: 100px 20px;
}
.section-portafolio h1{
    text-align: center;
    padding: 30px;
    margin: 10px;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    justify-content: center;
}