.card {
    max-width: 260px;
}
.section-portafolio{
    margin: 100px 20px;
}
.linkG{
    font-weight: bold;
    font-size: 20px;
}
.section-portafolio h1{
    text-align: center;
    padding: 20px;
    margin: 10px;
    font-size: 40px;
    font-family: 'Roboto Mono',monospace;
    line-height: 1;
}
.subtitle{
    font-family: 'Roboto Mono',monospace;
     padding: 20px 150px;
     margin: 10px 20px;
}
.card-container img{
    height: 200px;
    width: 100%;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

@media (max-width:1020px) {
  .subtitle{
     padding: 15px;
}   
}

